@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

img {
  width: 600px;
  margin: auto;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}

.footer{
  background-color: #eeeeee;
}

.left-links, .right-links{
  display: flex;
  gap: 15px;
  
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #666;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}