/* Add CSS Styling */
.number-1, .number-3, .number-5{
    background-color:rgb(255, 182, 193) ;
    font-family: "Verdana", "DejaVu Sans", sans-serif ;

}

#number-2{
    color: rgb(0,0,255);
    font-size: 36px;
}

.adjust-font-size{
    font-size: 24px;
}

#number-4{
    background-color: rgb(144, 231, 144);
    font-weight: bold;
}